<!DOCTYPE html SYSTEM "http://evolvis.org/DTD/xhtml10t-rdfa10.dtd">
<html xml:lang="en" lang="en">
<head>
    <title>DigiLocker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">
    <meta name="description" content="DigiLocker is the national Digital Locker System launched by Govt. of India. 1GB of free space in the locker to securely store resident documents and store links (URI) of Govt. Free, flexible, and easy-to-use application">
    <meta name="keywords" content="DigiLocker, Digital Locker, 1GB of free space, secure, e-documents, eSign online, Sharing of e-documents online, upload e-documents, SSC Certificate, HSC Certificate, PANcard, Voter ID card, Department Issued Documents, digital India, digital India initiative,  Indian Government’s flagship program, paperless governance, cloud storage space, Govt. of India’s cloud based platform">
    <meta property="og:locale" content="en_IN">
    <meta property="og:type" content="service">
    <meta property="og:title" content="DigiLocker:Towards Paperless Governance">
    <meta property="og:description" content="Just started using DigiLocker, Govt. of India’s cloud based platform for storage, sharing and verification of documents and certificates. You can signup also https://digilocker.gov.in">
    <meta property="og:url" content="https://digilocker.gov.in/">
    <meta property="og:site_name" content="DigiLocker">
    <meta property="publisher" content="https://www.facebook.com/OfficialDigiLocker/">
    <meta property="tag" content="DigiLocker, Digital Locker, 1GB of free space, secure, e-documents, eSign online, Sharing of e-documents online, upload e-documents, SSC Certificate, HSC Certificate, PANcard, Voter ID card, Department Issued Documents, digital India, digital India initiative,  Indian Government’s flagship program, paperless governance, cloud storage space, Govt. of India’s cloud based platform">
    <meta property="og:image" content="https://img1.digitallocker.gov.in/assets/img/digiLocker_fb.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://digilocker.gov.in/">
    <meta content="DigiLocker Govt. of India’s cloud based platform for storage, sharing and verification of documents and certificates.">
    <meta name="twitter:title" content="DigiLocker:Towards Paperless Governance">
    <meta name="twitter:site" content="@digilocker_ind">
    <meta name="twitter:image" content="https://img1.digitallocker.gov.in/assets/img/digiLocker_fb.png">
    <meta itemprop="name" content="DigiLocker:Towards Paperless Governance">
    <meta itemprop="description" content="DigiLocker Govt. of India’s cloud based platform for storage, sharing and verification of documents and certificates.">
    <meta itemprop="alternativeHeadline" content="DigiLocker:Towards Paperless Governance">
    <link rel="shortcut icon" type="image/png" href="https://img1.digitallocker.gov.in/core/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="https://img1.digitallocker.gov.in/core/img/favicon-touch.png" />
    <!-- global style css -->
    <link rel="stylesheet" href="https://img1.digitallocker.gov.in/public/smart/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://img1.digitallocker.gov.in/public/smart/css/global-style-v5_071219.css">
    <!-- global style js -->
    <script type="text/javascript" src="https://img1.digitallocker.gov.in/public/smart/js/combo_071219.js"></script>
</head>
<body>
    <main role="main">

        <input type="hidden" value="https://127.0.0.1/index.php/" id="locker_url" />
        <style>
            .fa-user-lock:before {
                content: "\f13e";
            }
            .fa-refresh:before {
                content: "\f021";
            }
            .fa-exclamation-triangle:before {
                content: "\f071"
            }
            p {
                font-size: 14px;
                line-height: 27px;
                color: #222;
                margin-top: 5px;
                text-align: justify;
            }
        </style>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto">
            <section>
                <div>
                    <div style="padding: 10px 10px; text-align: center; ">
                        <p style="color: #555555; font-size: 16px;"></p>
                        <div class="card-signin" style="border-bottom: 5px solid #ff0000 !important;">
                            <div style=" font-size: 67px; margin-bottom: 20px; color: red; "> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                            <strong style=" font-size: 30px; text-align: center; color: red;"> Unauthorized Access</strong><br>
                            <p>
                                Unauthorised attempts to access, upload or change information on this service are
                                strictly prohibited and is punishable under section 43, 66 of the Indian IT Act (2000)
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>